section#about.section
    .container 
        .row.align-items-center
            .title.col 
                h2 Привет
                h3 и добро пожаловать на наш сайт

            .content_wrapper.col-4
                .content_inner
                    p Мы креативная студия Interplar. Создаём готовые решения в Digital-среде. Помогаем бизнесам оставаться актуальными в мире, где каждый день появляется что-то новое.
                
                .content_inner.content_btn
                    a.btn создать свой проект

        a.next(href="#vectors") далее о направлениях работы