section#clients.splide__slide(data-splide-hash="clients")
    .container
        .row.align-items-center
            .title.col-4
                h3 наши клиенты

            .content_wrapper.col
                .content_inner.clients_logo
                    .img
                        img(src="../../assets/img/Logo_CR8.png" alt="CR8 Production")
                    .img
                        img(src="../../assets/img/Logo_KHCh.png" alt="ООО КХЧ")
                    .img
                        img(src="../../assets/img/Logo_JINSILIN.png" alt="Jinsilin")

        a.next(href="#feedback_prev") далее о Вашем проекте