section#contacts.section
    .container.align-self-end
        .row.align-items-center
            .title.col-4
                h3 наши соцсети

            .content_wrapper.col
                .content_inner.social_bar
                    .img
                        a(href="#")
                            include ../../../assets/img/vk.svg
                    .img
                        a(href="#")
                            include ../../../assets/img/be.svg

        .row.align-items-center
            .title.col-4
                h3 хочешь работать у нас?

            .content_wrapper.col
                .content_inner
                    p Мы всегда в поисках новых талантов и свежих идей! Будем рады, если ты расскажешь о себе или своей идее.
                .content_inner
                    a.btn(href="#") написать interplar
    .container
        .row.align-items-center
            .content_wrapper.col.offset-4
                .content_inner
                    a.btn.totop(href="#about") вернуться наверх

    include ./footer 