section#feedback
    .container
        .row.align-items-center
            .title.col-4
                h3 свяжитесь с нами

            .content_wrapper.col
                .content_inner
                    form.form(action="")
                        label(for="offer_fio") Контактные данные
                        input(type="text" name="offer_fio" class="form_fio" placeholder="Имя и фамилия")
                        input(type="email" name="offer_email" class="form_email" placeholder="Email") 

                        label(for="offer_task") Опишите задачу, которую Вы хотели бы решить
                        textarea(name="task" cols="30" rows="10" class="form_message" placeholder="Максимально подробно")

                        label(for="offer_file") Прикрепите файлы
                        input(type="file" name="offer_file" class="form_file" placeholder="pdf, jpeg, docx, ppt")

                .content_inner.content_btn.flex
                    a.btn(href="#") отправить заявку
                    p.license 
                        | Нажимая кнопку отправить заявку, Вы принимаете нашу 
                        a(href="#") политику конфиденциальности
                        |  и даёте согласие на 
                        a(href="#") обработку персональных данных. 

        a.next(href="#contacts") далее полезная информация