footer#footer.container.align-self-end
            .row.align-items-center
                .footer_logo_wrapper.col-4
                    .img.footer_logo
                        img(src="../../assets/img/logo_interplar.png" alt="logo interplar")
                    p.slogan unleash the beauty

                .content_wrapper.col
                    .content_inner.social_bar
                        .img
                            a(href="#")
                                img(src="../../assets/img/vk.png" alt="Вконтакте")
                        .img
                            a(href="#")
                                img(src="../../assets/img/be.png" alt="Биханс")
                        p.email interplar@gmail.com
                        p.copyright 2022 © Interplar creative studio