footer#footer.container.align-self-end
            .row.align-items-center
                .footer_logo_wrapper.col-4
                    h6.footer_logo Interplar
                    p.slogan unleash the beauty

                .content_wrapper.col-8
                    .content_inner.social_bar
                        .social_bar_inner
                            .img
                                a(href="#")
                                    include ../../../assets/img/vk.svg
                            .img
                                a(href="#")
                                    include ../../../assets/img/be.svg
                        a.email(href="mailto:creative.studio@interplar.com") creative.studio@interplar.com
                        p.copyright 2022 © Interplar creative studio