nav.nav
    .container
        .row
            .menu_btn
                .counter 1/7
                span.menu_toggler Меню

            ul.menu
                li.menu_item
                    a.menu_item_link(href="#about", data-menuanchor="#about") что мы делаем
                li.menu_item.dropdown
                    a.menu_item_link.dropdown_btn(href="#vectors", data-menuanchor="#vectors") направления работы
                    ul.dropdown_content
                        li
                            a(href="#") Cайт под ключ
                        li
                            a(href="#") Боты для мссенджеров
                        li
                            a(href="#") Индивидуальный проект
                        
                li.menu_item
                    a.menu_item_link(href="#process", data-menuanchor="#process") процесс работы
                li.menu_item
                    a.menu_item_link(href="#team", data-menuanchor="#team") о команде
                li.menu_item
                    a.menu_item_link(href="#clients", data-menuanchor="#clients") наши клиенты
                li.menu_item
                    a.menu_item_link(href="#contacts", data-menuanchor="#contacts") контакты