nav.nav
    .container
        .row
            .menu_btn
                .counter 0/7
                span.menu_toggler Меню

            ul.menu
                li.menu_item
                    a.menu_item_link(href="#about", data-menuanchor="#about") что мы делаем
                li.menu_item
                    a.menu_item_link(href="#vectors", data-menuanchor="#vectors") направления работы
                li.menu_item
                    a.menu_item_link(href="#process", data-menuanchor="#process") процесс работы
                li.menu_item
                    a.menu_item_link(href="#team", data-menuanchor="#team") о команде
                li.menu_item
                    a.menu_item_link(href="#clients", data-menuanchor="#clients") наши клиенты
                li.menu_item
                    a.menu_item_link(href="#contacts", data-menuanchor="#contacts") контакты

                a.back Назад