section#process.splide__slide(data-splide-hash="process")
    .container
        .row.align-items-center
            .title.col-4
                h3 процесс работы

            .content_wrapper.col
                ol.step_list
                    li.step_list_item.content_inner
                        span.step_list_num 1
                        p Первый этап - бриф. Мы получаем необходимую информацию. Формируем общее видение и понимание проекта. Важнейший этап в начале разработки.

                    li.step_list_item.content_inner
                        span.step_list_num 2
                        p Второй этап - разработка плана. Мы продумываем детали работы, подбираем инструменты и специалистов для реализации проекта. Согласовываем с Вами план работы, отвечаем на вопросы, рассказываем, как всё будет работать.

                    li.step_list_item.content_inner
                        span.step_list_num 3
                        p Третий этап - разработка. Согласно плану мы делаем своё дело. В конце каждого этапа работы отчитываемся о проделанной работе. Вы всегда будете в курсе того, что происходит с проектом.

                    li.step_list_item.content_inner
                        span.step_list_num 4
                        p Четвёртый этап - сдача проекта. Финал. Здесь мы вносим последние правки, а Вы принимаете конечный продукт.

                .content_inner.content_btn
                    a.btn(href="#") Создать свой проект

        a.next(href="#team") далее о команде