section.splide__slide.team_prev.prev(data-splide-hash="team_prev")
    .container
        .row.align-items-center
            .title.col
                h3 команда Interplar

section#team.splide__slide(data-splide-hash="team")
    .container
        .row.align-items-center
            .title.col-4
                h3 команда Interplar

            .content_wrapper.col
                .content_inner
                    p Небольшая команда с большими планами. Не боимся нестандартных проектов. Любим пробовать что-то новое и экспериментировать. 
                .content_inner
                    p Хотим, чтобы клинтам было комфортно с нами. Ведём разработку открыто и всегда готовы ответить на вопросы. Мы любим свою работу и любим делать её хорошо, поэтому всегда ищем наилучшее решение для Вашего проекта.

        a.next(href="#clients_prev") далее о клиентах