section#vectors.section
    .container
        .row.align-items-center
            .title.col-4
                h3 веб разработка

            .content_wrapper.col
                .content_inner
                    p Создаём сайты под ключ, сервисы пропускной сопособностью до 500 тысяч пользователй в день. Подключаем инструменты для бизнеса, например телефония, кастомные метрики и сбор статистики.
                    p Ещё делаем бизнес-бтов с интеграцией 1C для Telegram и других мессенджеров.
                    p Имеем опыт в разработке 3D движков встроенных в веб, а также  крупных парсеров, обрабатывающих более 51 млн. товаров за сутки.
                  
                .content_inner
                    h4 Услуги:
                    ul.service_list
                        li.service_list_item сайт под ключ
                        li.service_list_item боты для мессенджеров
                        li.service_list_item индивидуальный проект

        a.next(href="#process") далее о том как работаем
