section#vectors
    .container
        .row.align-items-center
            .title.col-4
                h3 веб разработка

            .content_wrapper.col
                .content_inner
                    p 
                        | Мы креативная студия Interplar. 
                        br 
                        | Создаём готовые решения в Digital-среде. Помогаем бизнесам оставаться актуальными в мире, где каждый день появляется что‑то новое.

                .content_inner
                    h4 Услуги:
                    ul.service_list
                        li.service_list_item сайт под ключ
                        li.service_list_item боты для мессенджеров
                        li.service_list_item индивидуальный проект

        a.next(href="#process") далее о том как работаем
