extends ../layouts/master

block title
  title Inerplar
  link(rel="stylesheet", href="assets/css/styles.min.css")

block content
  include ../includes/modules/nav
  .splide__track
    .splide__list
      include ../includes/modules/intro
      include ../includes/modules/about
      include ../includes/modules/vectors
      include ../includes/modules/process
      include ../includes/modules/team
      include ../includes/modules/clients
      include ../includes/modules/feedback

      .contact_splide.splide__slide(data-splide-hash="contacts")
        .splide__track
          .splide__list
            include ../includes/modules/contacts
            include ../includes/modules/recruitment

block scripts
  script(src="assets/scripts/main.min.js")
