#contacts{
    align-items: flex-end;
}

.social_bar {
    display: flex;
    align-items: center;
    gap: 72px;
    padding-left: 32px;
    padding-top: 18px;
    padding-bottom: 18px;

    &_inner{
        display: flex;
        gap: 72px;
    }

    // TODO: Разобраться как работает градиент
    a:hover{
        svg{
            path.svg_original{
                fill: #ffffff00
            }   
            path.svg_blur{
                stroke: url(#gradient);
                filter: url(#blur);
            }
        }
    }
    a:active{
        svg{
            path{
                stroke: url(#gradient);
            }
        }
    }
}

.totop {
    position: relative;

    &::after {
        content: ' ';
        width: 24px;
        height: 64px;
        position: absolute;
        left: -46px;
        top: -18px;
        background-image: url(../img/arrow_top.png);
    }
}