
// показать / скрыть секцию
// #intro    {display: none;}
// #about    {display: none;}
// #vectors  {display: none;}
// #process  {display: none;}
// #team     {display: none;}
// #clients  {display: none;}
// #feedback {display: none;}
// #contacts {display: none;}

// показать / скрыть меню
// .menu{
//     display: flex; // none | flex
//  }