.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        font-family: Montserrat;
        font-size: $size_form_label;
        line-height: 28px;
        margin-top: 0px;
        margin-bottom: 17px;
    }

    input,
    textarea,
    .form_file_mine {
        border: 1px solid #fff;
        background-color: #0E0E0E;
        font-size: $size_form;
        color: #fff;
        padding: 8px 16px 6px;
        margin-left: 16px;
        margin-bottom: 24px;
        font-family: Montserrat;
        border-radius: 0px;
        line-height: 20px;
    }

    input::placeholder{
        color: rgb(117, 117, 117);
    }
    textarea::placeholder{
        color: rgb(117, 117, 117);
    }

    .form_file_mine{
        margin-bottom: 4px;
        padding: 6px 16px;
    }

    .form_file {
        position: absolute;
        opacity: 0;
        top: 0;
        right: 100%;
        &_text{
            color: rgb(117, 117, 117);
        }
    }
    // TODO: фейк загрузка файлов
}

.license {
    font-family: Montserrat;
    font-size: $size_license;
    line-height: $size_license;
    color: #6A6A6A;
    width: 500px;
    margin-left: 86px;

    a {
        text-decoration: underline;
        color: #6A6A6A;
        position: relative;

        &:hover::before{
            opacity: 1;
        }
    
        &:hover{
            cursor: pointer;
            color: #fff;
        }
    
        &:active {
            @include active()
        }
    
        &::before{
            @include hover();
            top: 7px;
            left: 10px;
        }

        &:active {
            @include active()
        }

        &:visited {
            color: #6A6A6A !important;
        }
    }
}