footer {

    margin-bottom: 40px;

    .footer_logo {
        width: 170px;
        height: 34px;

        &_wrapper {
            display: flex;
            align-items: flex-end;
        }
    }

    .email {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        padding: 1px 7px;
        position: relative;

        &:hover::before{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }

        &:active {
            @include active()
        }

        &::before{
            @include hover();
            top: 3px;
            left: 0px;
            width: 100%;
        }

        &:active{
            @include active();
        }
        &:visited{
            color: #fff;
        }
    }

    .slogan,
    .copyright {
        @include bebas(BebasBook);
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .slogan {
        margin-left: 24px;
        margin-bottom: 2px;
    }

    .copyright {
        margin-left: auto;
    }

    .social_bar {
        margin-bottom: 0px;
    }


}