footer {

    margin-bottom: 40px;

    .footer_logo {
        width: 170px;
        height: 34px;

        &_wrapper {
            display: flex;
            align-items: flex-end;
        }
    }

    .email {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        padding: 5px 7px;
        &:hover{
            @include hover();
        }
        &:active{
            @include active();
        }
        &:visited{
            color: #fff;
        }
    }

    .slogan,
    .copyright {
        @include bebas(BebasBook);
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .slogan {
        margin-left: 24px;
    }

    .copyright {
        margin-left: auto;
    }

    .social_bar {
        margin-bottom: 0px;
    }


}