footer {

    margin-bottom: -16px;

    .footer_logo {
        @include bebas(BebasBook);
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        position: relative;

        &::before{
            @include hover();
            top: 0px;
            left: 0px;
            animation: pulse 3s ease infinite;
        }

        &::after{
            content: ' ';
            background-image: url(../../assets/img/logo_Interplar.png);
            width: 18px;
            height: 24px;
            position: absolute;
            left: -30px;
            top: 0px;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &_wrapper {
            display: flex;
            align-items: flex-end;
        }
    }

    .email {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        padding: 1px 7px;
        position: relative;
        margin: auto;

        &:hover::before{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }

        &:active {
            @include active()
        }

        &::before{
            @include hover();
            top: 3px;
            left: 0px;
            width: 100%;
        }

        &:active{
            @include active();
        }
        &:visited{
            color: #fff;
        }
    }

    .slogan,
    .copyright {
        @include bebas(BebasBook);
        font-size: 14px;
        text-transform: uppercase;
    }

    .slogan {
        margin-left: 24px;
        margin-bottom: 2px;
    }

    .copyright {
        margin-left: auto;
    }

    .social_bar {
        margin-bottom: 0px;
    }


}