@media screen and (max-width: 1240px) {

    html{
        font-size: 8px;
    }

    .content_btn {
        padding: 8px 15px;
    }

    .btn {
        margin-left: 10px;
    }

    .license{
        width: 265px;
        margin-left: 110px;
    }

    .totop::after{
        left: -40px;
    }

    .social_bar{
        gap: 30px;
        &_inner{
            gap: 30px;
        }
    }

    footer .slogan,
    footer .copyright {
        font-size: 12px;
    }
    footer .email{
        font-size: 14px;
    }
}

@media screen and (max-width: 1020px) {
    .menu_btn{
        margin-left: -6px;
    }


}

@media screen and (max-width: 990px) {
    .menu_btn{
        margin-left: -36px;
    }

    .menu{
        width: 100%;
    }
}