@media screen and (max-width: 600px) {

    section.notnoise::after{
        content: ' ';
        display: none;
    }

    section::after{
        width: 100%;
        right: 0px;
    }

    section.is-visible::after{
        // вкдючить / выключить noise
        // animation: noise 0.2s ease 0s;

        // удалить нижнее, чтобы запустить анимацию
        animation: none;
        content: "";
        height: 0px;
    }

    // .title {
    //     transition: opacity 0.7s ease 0.4s;
    // }

    // .content_wrapper {
    //     transition: opacity 0.7s ease 0.4s;
    // }

    // .next {
    //     transition: opacity 0.7s ease 0.4s;
    // }

    section.is-visible .title {
        animation-duration: 1.7s;
        animation-delay: 0.2s;
    }

    section.is-visible .content_wrapper {
        animation-duration: 1.7s;
        animation-delay: 0.2s;
    }

    section.is-visible .next {
        animation-duration: 1.7s;
        animation-delay: 0.2s;
    }
}