@media screen and (max-width: 600px) {

    html{
        font-size: 6px;
    }

    .intro{
        display: none;
    }

    .container{
        max-width: 536px;
    }

    .menu_btn {
        margin-left: -3px;
        margin-right: 7px;
    }

    .content_btn {
        padding: 0px 15px;
    }

    .title_main{
        display: none;
    }

    .title.col-4{
        display: none;
    }

    .content_inner {
        p {
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0px;
            }
        }

        .email{
            font-size: 12px;
        }
    }

    section{
        padding: 48px 0px 24px;
    }

    .service_list_item{
        margin-top: 10px;
    }

    .next, .back {
        bottom: 7px;
    }

    .step_list_num{
        display: none;
    }

    .form{
        label{
            // margin-bottom: 10px;
            margin-bottom: 4px;
        }

        input{
            margin-bottom: 12px;
            margin-left: 8px;
            padding: 4px 9px 3px;
        }

        textarea{
            height: 58px;
            margin-left: 8px;
            margin-bottom: 8px;
            padding: 4px 9px 3px;
        }

        .form_file_mine{
            padding: 3px 9px;
        }

        .form_email{
            margin-bottom: 8px;
        }
        
    }

    footer{
        .social_bar_inner{
            display: none;
        }

        .footer_logo{
            font-size: 16px;

            &::after{
                display: none;
            }
        }

        .slogan,.copyright{
            font-size: 8px;
        }

    }

    .totop_wrapper{
        margin-left: 0px;
        
    }

    .totop{
        &::after{
            left: -33px;
        }
    }

    .social_bar {
        gap: 10px;
    }

    .about_prev, .clients_prev, .team_prev{
        display: flex;
    }

    .license{
        margin-left: auto;
    }



    // мобилки меню
    .dropdown_content{
        position: relative;
    }

    .nav.active{
        background-color: $color_bg;
    }

    .menu.active{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 26px;
        height: 100vh;
        width: auto;
        padding-top: 10px;
    }

    .nav .container{
            // max-width: 100%;
            .row{
                align-items: flex-start
            }
    }

    // .menu_btn{
    //     margin-left: 17px;
    // }

    .menu{
        justify-content: flex-start;
        gap: 32px;

        .back{
            left: 24px;
        }
    }

    .dropdown_content{
        min-width: auto;
        display: flex;
        opacity: 1;
        gap: 32px;
        padding: 32px 34px 0px;
    }
    
}