@media screen and (max-width: 905px) {

    html{
        font-size: 7px;
    }

    .container{
        max-width: 815px;
    }

    .menu_btn {
        margin-left: -30px;
        margin-right: 7px;
    }

    h1{
        font-size: 64px;
    }

    .title h2{
        line-height: 10px;
    }

    .title h3{
        line-height: 30px;
    }

    section{
        padding: 48px 0px;
    }

    .btn{
        margin-left: 4px;
    }

    .next, .back {
        bottom: 32px;
    }

    .content_inner, .step_list{
        margin-bottom: 16px;
    }

    .content_inner{
        padding: 5px 15px;
    }

    .content_btn {
        padding: 5px 15px;
    }

    .clients_logo{
        height: 200px;
        img{
            width: 90px;
        }
    }

    .form{
        label{
            // margin-bottom: 10px;
            margin-bottom: 6px;
        }

        input{
            margin-bottom: 18px;
            margin-left: 8px;
            padding: 7px 9px 5px;
        }

        textarea{
            height: 112px;
            margin-left: 8px;
            margin-bottom: 12px;
            padding: 7px 9px 5px;
        }

        .form_file_mine{
            margin-left: 8px;
            padding: 5px 9px;
        }

        .form_email{
            margin-bottom: 12px;
        }
        
        
    }

    .license {
        margin-left: 52px;
    }

    .totop::after {
        left: -34px;
    }

    // мобилки меню
    .dropdown_content{
        position: relative;
    }

    .nav.active{
        background-color: $color_bg;
    }

    .menu.active{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 26px;
        height: 100vh;
        width: auto;
        padding-top: 10px;
    }

    .nav .container{
            // max-width: 100%;
            .row{
                align-items: flex-start
            }
    }

    .menu{
        justify-content: flex-start;
        gap: 32px;

        .back{
            left: 24px;
        }
    }

    .dropdown_content{
        min-width: auto;
        display: flex;
        opacity: 1;
        gap: 32px;
        padding: 32px 34px 0px;
    }
}

@media screen and (max-width: 880px){
    .menu_btn{
        margin-left: -6px;
    }
}