.nav {
    padding-top: 16px;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 404;
    width: 100%;
}

.menu {
    display: none;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0px;
    align-items: center;

    &_item {
        // margin: 0px 35px;

        &_link {
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
            font-size: $size_menu_link;
            padding: 7px;
            position: relative;

            @include bebas(BebasRegular);

            &:active {
                @include active();
            }

            &::before{
                @include hover();
                top: 7px;
                left: 8px;
            }
    
            &:hover::before{
                opacity: 1;
            }
    
            &:hover{
                cursor: pointer;
            }
        }
    }

    &_btn {
        // margin-left: 36px;
        margin-left: -30px;
        font-size: $size_menu_link;
        display: flex;
        align-items: center;
        @include bebas(BebasRegular);

        width: 4%;

        .counter {
            opacity: 1;
            transition: opacity 0.2s;

            position: relative;
            padding-right: 7px;
            width: 32px;
            // border-right: 2px solid #fff;
        }
    }

    &_toggler {
        padding: 10px 7px;
        position: relative;
        left: 0px;

        transition: left 0.3s ease;

        &::after{
            content: " ";
            width: 2px;
            height: 24px;
            position: absolute;
            left: -2px;
            top: 7px;
            background-color: #fff;
        }

        &::before{
            @include hover();
            top: 10px;
            left: 5px;
        }

        &:hover::before{
            opacity: 1;
        }

        &:hover{
            cursor: pointer;
        }

        &:active {
            @include active()
        }
    }

    .back{
        display: none;
    }
}



.dropdown{
    overflow: hidden;

    &_content{
        display: none;
        opacity: 0;

        transition: opacity 0.3s ease;

        position: absolute;
        z-index: 405;
        @include bebas(BebasRegular);
        color: #fff;
        min-width: 400px;
        padding: 10px;
        padding-left: 0px;
        padding-top: 15px;
        flex-direction: column;
        gap: 15px;

        a{
            font-size: $size_menu_link;
            padding: 7px;
            position: relative;

            &:active {
                color: #fff;
                @include active()
            }
            &:visited {
                color: #fff;
            }

            &::before{
                @include hover();
                top: 7px;
                left: 5px;
            }
    
            &:hover::before{
                opacity: 1;
            }
    
            &:hover{
                cursor: pointer;
            }
        }

        &:hover{
            opacity: 1;
        }
    }
}

.dropdown:hover .dropdown_content {
    opacity: 1;
    display: flex;
  }

// Animation
.menu.active{
    display: flex;

    .menu_item{
        animation: fadein 0.3s ease;
    }
}
.menu_toggler.active{
    left: -48px;

    &::after{
        right: 0px;
        left: auto;
        animation: dash 0.3s;
    }
}
.counter.active{
    opacity: 0;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dash {
    0%  { 
        left: -2px;
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        left: auto;
        right: 0px;
        opacity: 1;}
   }