$size_menu_link: 1.6rem;
$size_arrow_link: 1.4rem;
$size_h1: 11.2rem;
$size_h2: 4rem;
$size_h3: 2.4rem;
$size_h4: 3.2rem;
$size_btn: 2.4rem;
$size_text: 2rem;
$size_form: 1.6rem;
$size_form_label: 2rem;
$size_license: 1.2rem;

$color_bg: #0E0E0E;